# Dependencies
node_modules/

# Downloaded media
downloads/
download-MP4/

# Generated exports
exports/
new-maps-items/

# Migration data
response.json
mapping.json
download-failed.json
download-mp4-failed.json
export-missing-mp3.json

# Ignore all old language files
old-lang-*.json

# But keep this one
!old-lang-id-map.json

# html page
htmlPageForm.html

# new request
new-request.json

# new response
new-response.json
new-response-slide-id-11.json



# Temp files
temp/
tmp/
*.tmp

# Environment
.env
.env.local
.env.*

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store